* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.square {
  height: calc(2.5%);
  width: calc(2%);
  border: 1px solid white;
  background-color: #e9ecef;
  transition: background-color 2.5s ease-out;
}

.square:hover {
  transition: none;
}
